@model demoForm.Models.queSet

@{
    Layout = null;
    ViewBag.Title = "DeleteNew";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteNew</title>
</head>
<body>
    <h4  align="left">Are you sure you want to delete this?</h4>
    <table align="left" >
        @if (ViewBag.Message1 != null)
        {
            foreach (var item in ViewBag.Message1.Keys)
            {

                var value = ViewBag.Message1[item];


               
                if (item.Contains("que"))
                {

                    <tr>
                        <td colspan=2> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> @Html.DisplayFor(modelItem => value)</td>
                    </tr>
                }

                if (item.Contains("op"))
                {

                    <tr>
                        <td><input type="radio" disabled="disabled" id="myRadio3"></td>
                        <td>
                            @Html.DisplayFor(modelItem => value)
                        </td>
                    </tr>

                }


            }
        }
    </table>
        @using (Html.BeginForm("DeleteNewConfirmed", "ques"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input hidden type="text" name="id" value=@ViewBag.id>
            </div>
            <div class="form-actions no-color">
                <button value="Delete" class="btn btn-default" >
                    <span class=" glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
                </button>
              

            </div>
        }
        
</body>
</html>
