@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="FirstTab">@Html.Action("ViewNew")</div>

<div align="center">
    <button id="btnAdd" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Question
    </button>
</div>
<div id="rr">@Html.Action("createNew")</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            
            $("#rr").hide();
           
            $("#btnAdd").click(function () {
               
                $("#rr").show();
                $("#btnAdd").show();
            });
            

        });
</script>




