@{
    Layout = null;
    ViewBag.Title = "viewNew";
}


<h2>Questions</h2>
<div class="row">
    <div class="col-md-12">


        @if (ViewBag.Message1 != null)
        {
            var Qcount = 0;
            var Odel = "";
            var Qdel = "";

            var delEdit = "";
            foreach (var item in ViewBag.Message1.Keys)
            {

                var value = ViewBag.Message1[item];


                if (item.Contains("ID"))
                {
                    Qcount++;
                    delEdit = "del" + Qcount;

                    Odel = "Odel" + Qcount;
                    Qdel = "Qdel" + Qcount;

                    ViewBag.Qcount = Qcount;

                    <div align="right">
                        <button data-dividdel=@delEdit data-qid=@Qdel data-oid=@Odel data-cid=@value class="deletButton btn btn-default">
                            <span class=" glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>


                        <button data-dividdel=@delEdit data-qid=@Qdel data-oid=@Odel data-cid=@value class="editButton btn btn-default">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>

                        <div id=@delEdit></div>


                    </div>

                }

                if (item.Contains("que"))
                {
                    <div class="modal"></div>
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-12">
                        <div class=@Qdel align="left">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> @Html.DisplayFor(modelItem => value)
                        </div>
                    </div>
                }
                if (item.Contains("ImageUpload"))
                {
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-12">
                        <div class=@Qdel align="left">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <img src=@value style="margin:10px" height="200" width="200" class="imageview" />
                        </div>
                    </div>
                }
                if (item.Contains("opRBO"))
                {
                    <div class="col-md-12">
                        <div class=@Odel align="left">
                            <input type="radio" disabled="disabled" id="myRadio3">
                            @Html.DisplayFor(modelItem => value)

                        </div>
                    </div>
                }
                if (item.Contains("opCBO"))
                {
                    <div class="col-md-12">
                        <div class=@Odel align="left">
                            <input type="checkbox" disabled="disabled" id="myRadio3">
                            @Html.DisplayFor(modelItem => value)

                        </div>
                    </div>
                }


                if (item.Contains("opIUO"))
                {
                    <div class="col-md-12">
                        <div class=@Odel align="left">
                            <button type="button" class="btnrating btn btn-default" value="Choose File" disabled="disabled">Choose File</button>
                            <input disabled="disabled" placeholder="Image Path" type="text">
                            @*<input type="checkbox" disabled="disabled" id="myRadio3">
                            @Html.DisplayFor(modelItem => value)*@

                        </div>
                    </div>

                }
                if (item.Contains("opURO"))
                { <div class="col-md-1">
                        <div class=@Odel align="left">
                            <button type="button" class="btnrating btn btn-default" data-attr="1" id="rating-star-1">
                                <i class="glyphicon glyphicon-star" aria - hidden="true"></i>
                            </button>

                        </div>
                    </div>
                }
                if (item.Contains("opIQO"))
                {
                    <div class="col-md-12">
                        <div class=@Odel align="left">

                            <input id="Text1" value=@value>

                        </div>
                    </div>
                }
                if (item.Contains("opTIO"))
                {
                    <div class="col-md-12">
                        <div class=@Odel align="left">

                            <input id="Text1" value=@value>

                        </div>
                    </div>
                }
            }
        }

    </div>
</div>
<div class="modal"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   

  
    $(document).ready(function () {
        for (var i = 1; i <=@(ViewBag.Qcount); i++) {
            $("#del" + i).hide();
            $("#edit" + i).hide();

        }

        //$("#del1").hide();
        $('.deletButton').click(function () {
            var cid = $(this).attr('data-cid')
            var dividdelEdit = $(this).attr('data-dividdel')
            var qid = $(this).attr('data-qid')
            var oid = $(this).attr('data-oid')
            var url = "/ques/DeleteNew/" + cid;


            // var dividedit = $(this).attr('data-dividedit')


            $("#" + dividdelEdit).empty();
            $('.' + qid).fadeToggle("slow");
            $('.' + oid).fadeToggle("slow");
          
            $.get(url, function (response) {


                $("#" + dividdelEdit).append(response);
                $("#" + dividdelEdit).fadeToggle("slow");
          
            });

        });

        $('.editButton').click(function () {
           // var dividedit = $(this).attr('data-dividedit')
            var cid = $(this).attr('data-cid')
            var dividdelEdit = $(this).attr('data-dividdel')
            var qid = $(this).attr('data-qid')
            var oid = $(this).attr('data-oid')
            var url = "/ques/EditNew/" + cid;

            $body = $("body");
            $body.addClass("loading");
            // var dividedit = $(this).attr('data-dividedit')
            $("#" + dividdelEdit).empty();
            $('.' + qid).fadeToggle("slow");
            $('.' + oid).fadeToggle("slow");
           
            $.get(url, function (response) {

                $("#" + dividdelEdit).append(response);
                $("#" + dividdelEdit).fadeToggle("slow");
              
            });
            $body.removeClass("loading");
        });


    });
</script>
